:root {
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 63%);
    --primary-purple: #4C5AE1;

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);

    --desktop-width: 1440px;
    --mobile-width: 375px;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'mainPhoto mainPhoto newsFeed'
                         'title moreInfo newsFeed';
    gap: 25px;
    margin-bottom: 60px; 
}

.menu-btn {
    display: none;
}

.main-photo {
    grid-column: span 2;
    grid-area: mainPhoto;
}

.more-info {
    grid-area: moreInfo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-info-text {
    font-size: 15px;
    line-height: 26px;
    color: var(--dark-grayish-blue);
}

.more-info-button {
    padding: 12px 33px;
    background-color: var(--primary-red);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 4px;
}

.more-info-button:hover {
    background-color: var(--primary-orange);
}

/** news feed styles **/
.news-feed {
    grid-area: newsFeed;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

.news-feed-items div:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.news-feed-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.news-feed-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.news-feed-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.news-feed-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.news-feed-item p {
    font-size: 15px;
    line-height: 26px;
    color: var(--grayish-blue);
}
/** end of news feed styles **/

/** menu styles **/
.menu a {
    margin-left: 30px;
    text-decoration: underline;
    padding-bottom: 1px;
    color: gray;
}

.menu a:hover {
    color: var(--primary-orange);
}

.menu {
    display: flex;
    margin-bottom: 55px;
    align-items: flex-end;
}

.menu menu {
    margin-left: auto;
}
/** end of menu styles **/

.title {
    grid-area: title;
    font-size: 56px;
    line-height: 60px;
    font-weight: 900;
}

.main-photo source,
.main-photo img
{
    max-width: 100%;
}

.wrapper {
    max-width: var(--desktop-width);
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

.topics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.topic-item {
    display: flex;
}

.topics-info-number {
    font-size: 32px;
    line-height: 32px;
    color: silver;
    font-weight: bold;
}

.topics-info a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.topics-info a:hover {
    color: var(--primary-orange);
}

.topic-item img {
    max-width: 6.25rem;
    margin-right: 24px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 800px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .topics-container {
        display: flex;
        flex-direction: column;
    }

    .more-info-button {
        margin-top: 30px;
    }

    .news-feed-item p {
        padding-bottom: 32px;
    }

    .news-feed-item h3 {
        margin-top: 20px;
    }

    .wrapper {
        width: 90%;
        padding-top: 70px;
    }

    .news-feed {
        margin-bottom: 30px;
    }

    .menu {
        position: relative;
    }

    .menu menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 50px;
        padding: 10px 15px;
        background-color: black;
        color: white;
        display: none;
    }

    .menu menu a {
        padding: 15px 5px;
        margin-left: 0;
    }

    .hamburger {
        display: initial;
        margin-left: auto;
        margin-bottom: 10px;
        width: 30px;
        height: 25px;
    }

    .menu-btn {
        display: flex;
        position: absolute;
        opacity: 90%;
        right: 0;
        transform: translate(-10px, -5px);
    }

    .menu-btn::after {
        content: url(https://news-homepage-ten.vercel.app/images/burger-menu.svg);
        z-index: 30;
        transform: translate(-20px, -20px);
    }

    .menu-btn:checked ~ menu {
        display: flex;
    }
}